body {
  color: white;
  font-family: 'Lato', Arial, sans-serif;
}

.container {
  line-height: 80vh;
}

.sContainer {
  position: relative;
}

#time {
  font-size: 100px;
  font-weight: 300;
  letter-spacing: 20px;
  text-align: center;
  vertical-align: middle;
  margin-top: 40px;
}

p {
  font-size: 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  margin-left: -10px;
}

i {
  color: #c0392b;
}

a {
  color: #f4b742;
  text-decoration: none;
  border-bottom: 0.5px dashed #f4b742;
}
